
html{
    height: 100%;
}
body{
    height: 100%;
 
}
#content{
    min-height: 100%;
    margin-bottom: -90px;
}
#top {
    position: relative;
    background-color: #213B52;
    padding: 5px;
    margin: auto;
}
#footer {
    position: relative;
    bottom: 10px;    
    background-color: #213B52;
    color: white;
    clear: both;
    width: 100%;
    text-align: center;
    height: 100px;  
    min-height: 50px;
}
/*.container{
    min-height: calc(100vh - 50px - 100px);
}*/
